<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Web Socket Example</title>
    <meta charset="UTF-8">
    <style type="text/css">
      ul {
        list-style-type:none;
        position: relative;
        height:100%;
        max-height:400px;
        overflow: auto;
        padding-left:0px;
      }
      #msgs {
        background-color:#d0d0d0;
        min-height: 400px;
        max-height:400px;
        max-width:600px;
        overfolw:auto;
        
      }
    </style>
    <script>
      var ws;
      window.onload = function() {
        ws = new WebSocket("ws://{{server}}:{{port}}/ws");
        ws.onopen = function(e) { console.log("opened") }
        ws.onclose = function(e) { alert("closed"); }
        ws.onmessage = function(e) { 
          console.log("got: " + e.data);
          msgs = document.getElementById("msgList");
          var msg = document.createElement("li");
          msg.innerHTML = e.data;
          msgs.appendChild(msg);
          msgs.scrollTop = msgs.scrollHeight;}
      };
      function send() {
        msg = document.getElementById('message').value;
        if(msg != '') {
          msg ="[" +  document.getElementById('name').value + "]" + msg;
          ws.send(msg);
          document.getElementById('message').value = '';
        }
      }
    </script>
  </head>
    <body>
     <div id="msgs">
        <ul id="msgList">
        </ul>
</div>
	Text:<input type="text" id="message" onkeydown="if (event.keyCode == 13) send()">
	<button name="Send" onclick="send()">send</button>
	Name:<input type="text" id="name" maxlength="10"/>
      <div id="holder" style="width:600px; height:300px"></div>
    </body>
</html>
